*.iml
.gradle
.gradle/
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
functions/node_modules/
functions/medical-adherence-22fd2-firebase-adminsdk-fbsvc-9c82456821.json
local-fcm-server/node_modules/
